# Node
**/node_modules
npm-debug.log*
.env
.env.local
.env.*.local

# Output
pdf-service/out

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Editor
.idea
.vscode
*.sublime-project
*.sublime-workspace
